/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* share styles */
.bright-orange{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-gray-light{
    color: #727272;
}
.primary-btn{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.para-style{
    font-size: 1rem;
    line-height: 1.625rem;
}
.section-title{
font-size: 2.8em;
    font-weight: 700;
    margin-bottom: 24px;
}
/* main styles */

/* nav related  styles */
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item{
    list-style: none;
    margin-right: 50px;
 
}
.nav-link{
    text-decoration: none;
}
.navbar{
   justify-content: space-between;
   align-items: center;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner-styles */
.banner-container{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description {
    font-size: 1rem;
    line-height: 1.625rem;
}
.banner-image{
    width: 100%;
}

/* feature and love styles */
.features{
    gap: 140px;
}
#feature-section-title{
   border-left: 5px solid #FF900E;
   /* margin-left: 30px; */
   padding-left: 21px;
}
.feature-card{
  padding:30px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
  
    
}
#experience-badge{
    border-radius: 8px;
    font-size: 1.16rem;
    font-weight: 500;
    line-height: 40px;
    padding: 55px 42px;
    margin-top: -132px;
    margin-left: -92px;
}
#experience-year{
    font-size: 4.1rem;
    font-weight: 700;
    line-height: 4.4rem;
}
/* team and  feature related feature */
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

}
.our-features{
    max-width: 537px;
    margin-left: 73px;
}

/* .feature-title{
    font-size: 2.8em;
    font-weight: 700;
    margin-bottom: 24px;
} */
#quick-list{
    font-weight: 500;
}
.feature-description{
    margin-bottom: 32px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-description{
    max-width: 542px;
}
.fact-container{
    max-width: 1340px;
    margin: 0 auto;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    
}
.fact-card img{
    margin-top: 46px;
}
.facts-number{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsor styles */
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* justify-content: space-between; */
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* style footer */
.footer-container{
    margin-top: 130px;
    background-color: #FFF4E7;
    display: grid;
    /* padding: 39px auto; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    height: 100px;
}

/* responsive media query */
@media screen and (max-width:576px) {
    
    .navbar,.team,.features{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: row;
        justify-content: space-between;
    }
.team-img-container,.sponsor-companies {
    grid-template-columns: repeat(1,1fr);
    
}
.our-features{
    text-align: center;
    margin: 0 auto;
    /* margin-bottom: 50px; */
}

.section-title,.fact-description{
    text-align: center;
}
.fact-container{
    width: 100px;
    grid-template-columns: repeat(1,1fr);
justify-content: center;
gap: 2px;
}

.sponsor-companies{
    grid-template-columns: repeat(2,1fr);
    /* justify-content:space-evenly; */
    justify-items: center;
    gap: 10px;


}
.footer-container{
    text-align: center;
    /* font-size: 0.8rem; */
    font-size: 0.9rem;
}
.feature-architect  img{
    width: 100%;
}
#experience-badge{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px 8px;
    margin-top: 10px;
    


}
#experience-year {
    font-size: 3rem;
    
}
.feature-card{
    text-align: center;
}
}
/* some facts styles */

/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .team,.features{
        flex-direction: column;
    }
    .our-features{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .section-title,.fact-description{
    text-align: center;
}
.fact-description{
    margin: 0 auto;
    margin-bottom: 5px;
}
.fact-container{
    width: 100px;
    grid-template-columns: repeat(2,1fr);
justify-content: center;
gap: 10px;
}
.sponsor-companies{
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 50px;
}

.feature-architect  img{
    width: 100%;
}
#experience-badge{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px 8px;
    margin-top: 10px;
    

}
#experience-year {
    font-size: 3rem;
    
}
.feature-card{
    text-align: center;
}
}